<header>
	<div class="header_title">
		<h2>LOW-CUL MUSIC,TO THE REGION.</h2>
		<div class="block_wrapM block_wrap">
			<span class="border"></span>
				<ul class="btn">
	<li class="front">SHARE</li>
	<li class="back icon">
			<ul class="sns_all" data-title="">
					<li><a class="sns_tw">n</a></li>
					<li><a class="sns_yt" >a</a></li>
					<li><a class="sns_fb">o</a></li>
					<li><a class="sns_gg">p</a></li>
					<li><a class="sns_sd">q</a></li>
			</ul>
	</li>
	</ul>			</div>
		<h3>LIVE MY LIFE WITH MUSIC</h3>
	</div>

</header>

<article>
	<section>
		<div class="box_header cf">
			<h1>NEWS</h1>
			<div class="block_wrapS">
			</div>
		</div><!-- .box_header -->

		<div class="news_body">
			<div class="news_thumb">
				<p class="cover" data-src="http://plusblog.jp/wp-content/uploads/2013/03/13-570x351.jpg">2016.08.026</p>
			</div>
			<div class="news_text">
				<h1><a class="pjx" href="">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</a></h1>
			</div>
			<div class="news_link">
				<div class="block_wrapS">
					<div class="block_wrap">
						<a href="" class="btn pjx">
							<div class="front">READ MORE</div>
							<div class="back">READ MORE</div>
						</a>
					</div>
				</div>
			</div>
		</div><!-- .news_body -->
	</section>

<section>
	<div class="box album_body iindex">

		<div class="box_header cf">
			<h1>RANKING</h1>
			<div class="block_wrapS">
			</div>
		</div><!-- .box_header -->

		<li class="globalnav">
			<ul class="nav navbar-nav navbar">
				<li><a class="pjx"　href="#panel1">総合</a></li>
				<li><a class="pjx"  href="#panel2">アイドル</a></li>
				<li><a class="pjx"  href="#panel3">DJ</a></li>
				<li><a class="pjx"  href="#panel4">POP</a></li>
				<li><a class="pjx"  href="#panel5">アニメ</a></li>
			</ul>
		</li>
	</div>


  <div id="panel1">
  <% count=1%>
	<% @musics=Music.order(point: :desc)%>
	<% @musics.each do |music| %>
	<% if count<4 %>
	<div class="albumLR albumH cf">
		<div class="albumL_wrap block_wrap albumH">
			<div class="albumL block albumH">
				<div class="front albumH"><%=image_tag music.image %></div>
				<div class="back albumH">
					<ul>
					<li><a target="_blank" href="">ABOUT</a></li><li><a target="_blank" href="">MUSIC</a></li><li><a target="_blank" href="">MOVES</a></li>	<li><a target="_blank" href="">GOODS</a></li>				</ul>
				</div>
			</div>
		</div>
		<div class="albumR">
			<div>
				<h1>No<%=count %></h1>
				<h1><%=link_to music.name,music%></h1>
	            <br>
	            <h1>&#9825; <%=music.point%></h1>
			</div>
		</div><span class="albumM"></span>
	</div>
	<% count=count+1 %>
	<% end %>
	<%end%>
	</div>

	<div id="panel2">
	<% count=1%>
	<% @musics=Music.where(:genre=>"アイドル").order(point: :desc)%>
	<% @musics.each do |music| %>
	<% if count<4 %>
	<div class="albumLR albumH cf">
		<div class="albumL_wrap block_wrap albumH">
			<div class="albumL block albumH">
				<div class="front albumH"><%=image_tag music.image %></div>
				<div class="back albumH">
					<ul>
					<li><a target="_blank" href="">ABOUT</a></li><li><a target="_blank" href="">MUSIC</a></li><li><a target="_blank" href="">MOVES</a></li>	<li><a target="_blank" href="">GOODS</a></li>				</ul>
				</div>
			</div>
		</div>
		<div class="albumR">
			<div>
				<h1>No<%=count %></h1>
				<h1><%=link_to music.name,music%></h1>
							<br>
							<h1>&#9825; <%=music.point%></h1>
			</div>
		</div><span class="albumM"></span>
	</div>
	<% count=count+1 %>
	<% end %>
	<%end%>
	</div>

		<div id="panel3">
		<% count=1%>
		<% @musics=Music.where(:genre=>"DJ").order(point: :desc)%>
		<% @musics.each do |music| %>
		<% if count<4 %>
		<div class="albumLR albumH cf">
			<div class="albumL_wrap block_wrap albumH">
				<div class="albumL block albumH">
					<div class="front albumH"><%=image_tag music.image %></div>
					<div class="back albumH">
						<ul>
						<li><a target="_blank" href="">ABOUT</a></li><li><a target="_blank" href="">MUSIC</a></li><li><a target="_blank" href="">MOVES</a></li>	<li><a target="_blank" href="">GOODS</a></li>				</ul>
					</div>
				</div>
			</div>
			<div class="albumR">
				<div>
					<h1>No<%=count %></h1>
					<h1><%=link_to music.name,music%></h1>
								<br>
								<h1>&#9825; <%=music.point%></h1>
				</div>
			</div><span class="albumM"></span>
		</div>
		<% count=count+1 %>
		<% end %>
		<%end%>
		</div>

			<div id="panel4">
			<% count=1%>
			<% @musics=Music.where(:genre=>"POP").order(point: :desc)%>
			<% @musics.each do |music| %>
			<% if count<4 %>
			<div class="albumLR albumH cf">
				<div class="albumL_wrap block_wrap albumH">
					<div class="albumL block albumH">
						<div class="front albumH"><%=image_tag music.image %></div>
						<div class="back albumH">
							<ul>
							<li><a target="_blank" href="">ABOUT</a></li><li><a target="_blank" href="">MUSIC</a></li><li><a target="_blank" href="">MOVES</a></li>	<li><a target="_blank" href="">GOODS</a></li>				</ul>
						</div>
					</div>
				</div>
				<div class="albumR">
					<div>
						<h1>No<%=count %></h1>
						<h1><%=link_to music.name,music%></h1>
									<br>
									<h1>&#9825; <%=music.point%></h1>
					</div>
				</div><span class="albumM"></span>
			</div>
			<% count=count+1 %>
			<% end %>
			<%end%>
			</div>

				<div id="panel5">
				<% count=1%>
				<% @musics=Music.where(:genre=>"ロック").order(point: :desc)%>
				<% @musics.each do |music| %>
				<% if count<4 %>
				<div class="albumLR albumH cf">
					<div class="albumL_wrap block_wrap albumH">
						<div class="albumL block albumH">
							<div class="front albumH"><%=image_tag music.image %></div>
							<div class="back albumH">
								<ul>
								<li><a target="_blank" href="">ABOUT</a></li><li><a target="_blank" href="">MUSIC</a></li><li><a target="_blank" href="">MOVES</a></li>	<li><a target="_blank" href="">GOODS</a></li>				</ul>
							</div>
						</div>
					</div>
					<div class="albumR">
						<div>
							<h1>No<%=count %></h1>
							<h1><%=link_to music.name,music%></h1>
										<br>
										<h1>&#9825; <%=music.point%></h1>
						</div>
					</div><span class="albumM"></span>
				</div>
				<% count=count+1 %>
				<% end %>
				<%end%>
				</div>
			</div>

</section>

<%=link_to "続きを見る",musics_path %>
</article>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript">
$(function() {
	$('#tabs a[href^="#panel"]').click(function(){
		$("#tabs .panel").hide();
		$(this.hash).fadeIn();
		return false;
	});
	$('#tabs a[href^="#panel"]:eq(0)').trigger('click');
})
</script>
