<%=form_for(@user) do |f| %>
     <h1><%=f.label :name %></h1>
     <%=f.text_field :name,class:'form-control'%>

     <h1><%=f.label :age %></h1>
     <%=f.text_field :age,class:'form-control' %>

     <h1><%=f.label :address %></h1>
     <%=f.text_field :address,class:'form-control' %>

     <h1><%=f.label :password %></h1>
     <%=f.password_field :password,class:'form-control' %>

     <h1><%=f.label :password_confirmation,"Confirmation" %></h1>
     <%=f.password_field :password_confirmation,class:'form-control' %>

     <%=f.submit "新規登録"%>
<% end %>
